body {
  background-color: rgb(226, 220, 245);
}

header {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo {
  height: 20px;
  margin: 15px;
  padding: 20px;
  background-color: rgb(226, 220, 245);
  border-radius: 10px;
  /*
  background-color: #f5f5f5, 50;
  border: 4px solid #deddf7;
  border-radius: 5px;
  flex-grow: 1; */
}

.NavigationBar {
  margin: 10px;
  padding: 10px;
  background-color: #667bf6;
  border-radius: 20px;
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.Options {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.Option1 {
  margin: 10px;
  padding: 20px;
  /*background-color: #f5f5f5, 50;
  border: 4px solid #deddf7;*/
  border-radius: 5px;
  flex-grow: 1;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  color: beige;
}

.Option2 {
  margin: 10px;
  padding: 20px;
  /*background-color: #f5f5f5, 50;
  border: 4px solid #deddf7;*/
  border-radius: 5px;
  flex-grow: 1;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  color: beige;
}

.Option3 {
  margin: 10px;
  padding: 20px;
  /*background-color: #f5f5f5, 50;
  border: 4px solid #deddf7;*/
  border-radius: 5px;
  flex-grow: 1;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  color: beige;
}

main {
  justify-content: flex-start;
  display: flex;
}

.image {
  border-radius: 40px;
  width: 50%;
  padding: 10px;
}

.TextContainer {
  margin: 10px;
  padding: 15px;
  background-color: #667bf6;
  border-radius: 20px;
}

p {
  color: beige;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: medium;
}

footer {
  margin: 10px;
  background-color: #667bf6;
  border-radius: 20px;
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.Ftext1 {
  margin-left: 100px;
  padding: 20px;
  color: #c3caf3;
}

.Ftext2 {
  margin-right: 100px;
  padding: 20px;
  color: #c3caf3;
}


























/*h1 {
    color: white;
}

body{
    background: url('Pictures/background.jpeg') no-repeat;
    background-size: cover;    
    color: rgb(163, 203, 249);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a:visited {
    color: rgb(72, 255, 91);
  }
  
a:hover {
    color: rgb(255, 105, 68);
    text-decoration: none;
    font-weight: bold;
    font-size: 400%;
  }

  }*/